@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Azeret Mono", monospace;
}
button{
    cursor: pointer;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
header nav h3{
    font-size: 2.8rem;
    font-weight: 500;
}
header nav a button{
    font-size: 1.6rem;
    padding: 0.8rem 1.8rem;
    border: 0.5px solid rgba(128, 128, 128, 0.5);
    background-color: transparent;
    border-radius: 1rem;
    opacity: 0.8;
}
header .hero{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/homeWork/Hero-bg.png);
    gap: 5rem;
}
header .hero h1{
    font-size: 3.8rem;
    text-align: center;
    font-weight: 800;
}
header .hero p{
    font-size: 1.4rem;
    opacity: 0.9;
    text-align: center;
}
header .hero button{
    padding: 1rem 3rem;
    background-color: #0D1321;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
}


/* section-2 */
.section-2{
    width: 100rem;
    background-color: #e8e8e833;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5rem 2rem;
}
.section-2__headings{
display: flex;
flex-direction: column;
gap: 2rem;
}
.section-2__headings h5{
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
}
.section-2__headings p{
    font-size: 1.4rem;
    opacity: 0.8;
    text-align: center;
}
.secion-2__contents{
display: flex;
align-items: center;
justify-content: space-between;
}
.section-2__contents{
    width: 90rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
padding: 3rem 2rem;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.519));

}
.section-2__contents--box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section-2__contents--box h3{
font-size: 2.2rem;
opacity: 0.7;
}
.section-2__contents--box p{
    font-size: 1.4rem;
    opacity: 0.6;
}
.section-2__contents--box button{
    padding: 1rem 2rem;
    background-color: transparent;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
}
/* end of section-2 */

/* inspiration section */
.section-inspiration{
    width: 100%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
}
.section-inspiration .content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section-inspiration h2{
    font-size: 3.2rem;
}
.section-inspiration p{
    font-size: 1.4rem;
    opacity: 0.6;
}
.section-inspiration .video{
    padding: 3rem;
    border: 1px solid rgba(128, 128, 128, 0.503);
    border-radius: 10px;
}
.section-inspiration .video iframe{
    border-radius: 10px;
}
/* end of inspiration section */
.section-target{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
}
.section-target .headings{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    text-align: center;
}
.section-target .headings h3{
    font-size: 2.4rem;

}
.section-target .headings p{
    font-size: 1.4rem ;
    opacity: 0.7;
}
.section-target .contents{
    display: flex;
    padding: 4rem 2rem;
    gap: 6rem;
    align-items: center;
    justify-content: space-between;

}
.section-target .contents .box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 25rem;
    width: 20rem;
    justify-content: center;
    padding: 0 2rem;
}
.section-target .contents .box:nth-child(1){
    background-color: #ff4b1e14;
}
.section-target .contents .box:nth-child(2){
    background-color: #004de817;
}
.section-target .contents .box:nth-child(3){
    background-color: #ffdd0016;
}
.section-target .contents .box img{
    width: 5rem;
    justify-content: start;
}
.section-target .contents .box h4{
    font-size: 2rem;
    font-weight: 600;
}
.section-target .contents .box p{
    font-size: 1.2rem;
    opacity: 0.7;
}
.section-target .contents .box button{
    border: none;
    text-decoration:underline;
    background-color: transparent;
    font-weight: 500;
}
/* support section */
.section-support{
    width: 100%;
    height: 30rem;
    margin: 5rem auto;
    background-image:linear-gradient(to right bottom, rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.147)), url(/homeWork/handshake.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.section-support h2{
    color: white;
    font-weight: 600;
    font-size: 3.2rem;
}
.section-support p{
    color: white;
    font-size: 1.4rem;
}
.section-support input{
    width: 50rem;
    height: 5rem;
    outline: none;
    padding: 0 2rem;

}
.section-support button{
    padding: 1.7rem 3rem;
    border: none;
    background-color: white;
    border-radius: 5px;
}
footer{
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    background-color: rgba(128, 128, 128, 0.093);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.6rem;

}